#game-board {
    width: 1000px;
    height: 490px;
    border: 2px solid black;
    margin: auto;
    position: relative;
    background-color: rgb(211, 200, 180);
    box-shadow: 5px 10px #5ed1b0;
    background-image: url(/images/ezgif.com-crop.gif);
}

#game-name {
    text-align: center;
}

#score {
    color: black;
    font-size: 18pt;
    position: absolute;
    left: 20px;
    top: 20px;
}

#player{
    background-color: transparent;
    background-image: url("/images/ezgif.com-resize.gif");
    position: absolute;
    bottom: 0;
    left: 50px;
}

.obstacle {
    background-image: url("/images/blueberry.png");
    position: absolute;
}

#gameover {
    text-align: center;
    color: yellow;
    background-color: blueviolet;
}

.bonus {
    background-image: url("/images/banano.png");
    position: absolute;
}