#game-board {
    width: 1000px;
    height: 490px;
    border: 2px solid black;
    margin: auto;
    position: relative;
    background-color: rgb(211, 200, 180);
    box-shadow: 5px 10px #1105f1;
    background-image: url(../images/ezgif.com-crop.gif);
    border-radius: 25px;
}

#game-name {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: #1105f1;
    text-shadow: -3px 3px #a4bcd3; 
}

#score {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(30, 30, 47);
    font-size: 16pt;
    position:absolute;
    left: auto;
    top: 20px;

}

#player{
    background-color: transparent;
    background-image: url("../images/ezgif.com-resize.gif");
    position: absolute;
    bottom: 0;
    left: 50px;
}

.obstacle {
    background-image: url("../images/blueberry.png");
    position: absolute;
}

#gameover {
    text-align: center;
    color: purple;
    
}
#you-loose {
    width: 550px;
    height: 398px;
    border: 2px solid black;
    margin: auto;
    position: relative;
    background-color: rgb(211, 200, 180);
    box-shadow: 5px 10px purple;
    background-image: url(../images/minion-poisoned.gif);
    border-radius: 25px;
}

.bonus {
    background-image: url("../images/banano.png");
    position: absolute;
}

.bullet {
    background-image: url("../images/eye-bullet.png");
    position: absolute;
}

body {
    background-color: rgb(244, 236, 5);
}
